@page
@model MvcAsp.Net.Views.Index

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Bienvenu sur la page home</title>
</head>
<body>
<div>
    ici est l accueille de notre application 
</div>
</body>
</html>