@page
@model MvcAsp.Net.Views.Categories.Index

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Bienvenue Page Categories</title>
</head>
<body>
<div>
    NOus avons different categories
    <li>
        <a href="http://">Beverage</a>
    </li>
    <li>
        <a>Meat</a>
    </li>
    <li></li>
    

</div>
</body>
</html>